# Имена папок виртуального окружения
venv/
.venv/
env/
.build/

# Файлы конфигураций IDE
.idea/
.vscode/

# Файлы учетных данных и секретов
*.json

# Логи
*.log

# Кэш и временные файлы
__pycache__/
*.pyc

# Другие нежелательные файлы
.DS_Store